doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui')
		title Hands-on Web Audio

		link(rel='stylesheet', type='text/css', href='css/style.css')
		
		script(src='js/bundle.js', defer)
		
	body
		div#renderer
		div.slides
			section(data-offset-y=1000)
				
			section(data-transition-duration=30)
				h1 Hands-On Web Audio
				h2 Soledad Penades
				img(src='data/img/placeholder.png', data-replace='intro')
			
			section
				h1 AudioContext
				h2 Where we start, and
				h2 where everything happens

			section
				pre
					code.
						var ac = new AudioContext();

			section
				h1 AudioContext
				h2 Also as a toolbox
				p "instance factory"

			section
				h1 Nodes taxonomy
				img(src='data/img/placeholder.png', data-replace='nodes-taxonomy')

			section
				pre
					code.
						var oscillator = ac.createOscillator();
						var gain = ac.createGain();
						// etc...

			section
				h1 AudioContext
				h2 As audio graph container

			section
				h1 The audio graph:
				h1 modular routing

			section
				h2 Simplest graph
				pre
					code.
						var oscillator = ac.createOscillator();
						oscillator.connect(ac.destination);

			section
				h2 Simplest graph
				img(src='data/img/placeholder.png', data-replace='audio-graph-simple')

			section
				h2 More complex graph
				pre
					code.
						var osc1 = ac.createOscillator();
						var osc2 = ac.createOscillator();
						var filter = ac.createBiquadFilter();
						var shaper = ac.createWaveShaper();
						var conv = ac.createConvolver();
						osc1.connect(filter);
						osc2.connect(shaper);
						filter.connect(conv);
						shaper.connect(conv);
						conv.connect(ac.destination);
	
			section
				h2 More complex graph
				img(src='data/img/modular-routing.png', data-replace='audio-graph')

			section
				h1 The audio graph:
				h2 sound modulation

			section
				h2 Gain nodes
				p multiply input by gain value

			section
				pre
					code.
						var gain = ac.createGain();
			
			section
				pre
					code.
						var gain = ac.createGain();
						var osc = ac.createOscillator();
						osc.connect(gain);
						gain.connect(ac.destination);

			section
				img(src='data/img/placeholder.png', data-replace='gain')
				pre
					code.
						window.addEventListener('mousemove', function(e) {
							var v = e.clientY / window.innerHeight;
						    gain.gain.setValueAtTime(v, ac.currentTime);
						});


			section
				h1 Modulation
				img(src='data/img/placeholder.png', data-replace='modulation')

			section
				h1 Some built-in nodes

			section
				h1 BufferSource
				img(src='data/img/placeholder.png', data-replace='buffer-source')

			section
				h1 BufferSource
				h2 with pitch bending!
				img(src='data/img/placeholder.png', data-replace='buffer-source-bending')

			section
				h1 StereoPanner
				img(src='data/img/placeholder.png', data-replace='stereo-panner')

			section
				h1 Panner
				img(src='data/img/placeholder.png', data-replace='panner')

			section
				h1 Convolver

			section
				h1 BiquadFilter

			section
				h1 MediaStreamAudioSource

			section
				h1 It's a party!
				h2 but visuals...?

			section
				h1 Analyser

			section
				h1 Wrap up

