doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui')
		title Hands-on Web Audio

		link(rel='stylesheet', type='text/css', href='css/style.css')
		
		script(src='js/bundle.js', defer)
		
	body
		div#renderer
		div.slides
			section
				h1 Hands-On Web Audio
				h2 Soledad Penadés
			section
				h1 Why Web Audio?
				h2 reasons
				p Bla
				p and bla

