doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui')
		title Hands-on Web Audio

		link(rel='stylesheet', type='text/css', href='css/style.css')
		
		script(src='js/bundle.js', defer)
		
	body
		div#renderer
		div.slides
			section(data-offset-y=1000)
				
			section(data-transition-duration=30)
				h1 Hands-On Web Audio
				h2 Soledad Penadés
				img(src='data/img/placeholder.png', data-replace='audio-context')
			
			section
				h1 Audio Context

			section
				h1 Audio Graph
				img(src='data/img/modular-routing.png', data-replace='audio-graph')

			section
				h1 Nodes taxonomy

			section
				h1 Instances are JS Objects

			section
				h1 Audio Params

			section
				h1 No glitches

			section
				h1 Modulation

			section
				h1 Some built-in nodes

			section
				h1 BufferSource

			section
				h1 Panner

			section
				h1 Convolver

			section
				h1 BiquadFilter

			section
				h1 MediaStreamAudioSource

			section
				h1 It's a party!
				h2 but visuals...?

			section
				h1 Analyser

			section
				h1 Wrap up

